/exercicios_facul/junit/caesar/caesar/nbproject/private/
/exercicios_facul/junit/caesar/caesar/build/
/exercicios_facul/junit/caesar/ValidaCpf/nbproject/private/
/exercicios_facul/junit/caesar/ValidaCpf/build/
/exercicios_facul/junit/caesar/Ir/nbproject/private/
/exercicios_facul/junit/caesar/Ir/build/
/exercicios_facul/junit/caesar/Vr/nbproject/private/
/exercicios_facul/junit/caesar/ProjetoVr/nbproject/private/
/exercicios_facul/junit/caesar/ProjetoVr/build/